.post-image {
  display: none;
  float: left;
  margin: 5px 20px 15px 0px;
  width: auto;
  height: 115px;
}

.event-datetime {
  float: left;
  margin: 5px 20px 15px 0px;
  width: fit-content;
  height: auto;
  border: solid 1px;
  border-radius: 5px;
  position: relative;
  border-color: #dee0e1;
}

.event-datetime-subcontainer {
  position: sticky;
}

.event-datetime-month {
  display: inline-block;
  background-color: #2b3034;
  border-radius: 0 0 0 5px;
  position: absolute;
  height: 100%;
  width: 30px;
}

.event-datetime-month span {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #ffffff;
  margin-top: 10px;
  font-weight: bolder;
}

.event-datetime-date {
  padding-left: 25px;
}

.event-datetime-day {
  display: block;
  padding: 5px 5px 5px 5px;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  font-weight: bold;
  background-color: var(--main-color);
  text-align: center;
}

.event-datetime-day-num {
  padding-left: 5px;
  font-size: 25pt;
  text-align: center;
}

.event-datetime-hour {
  padding: 0 5px 0 5px;
  font-size: 14pt;
  text-align: center;
}

.details-container {
  border-top: solid 1px;
  border-color: #dee0e1;
  padding-top: 15px;

}

.event-title span {
  color: #ffffff;
  font-size: 25px;
  white-space: nowrap;
  padding: 0;
}

.event-title {
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-event {
  font-size: 20pt;
  padding: 4px 4px 4px 4px;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  /*
  margin-left: 30px;
  border-left: solid 1px #79bcf4;
  */
}

.view-event:hover {
  font-weight: bolder;
  font-size: 20pt;
  cursor: pointer;
}

.icon-container{
  height: 25px;
}
.edit-event {
  font-size: 18pt;
  padding: 4px 4px 4px 4px;
  border-radius: 50%;
  color: #ffffff;

}

.edit-event:hover {
  font-weight: bolder;
  font-size: 20pt;
  cursor: pointer;
}

.translate-event {
  font-size: 20pt;
  padding: 8px 8px 8px 12px;
  color: #ffffff;
}

.ks-text-translation {
  padding: 8px 8px 8px 12px;
  border-left: solid 1px #79bcf4;
}

.language-done span {
  color: #0e58a2;
  font-weight: lighter;
  font-size: 14pt;
  cursor: pointer;
  padding: 4px;
  margin-left: 15%;
  width: 100%
}

.language-done {
  padding: 5px 0 5px 5px;
}

.language-done span {
  color: #0e58a2;
  font-weight: lighter;
  font-size: 12pt;
  cursor: pointer;
  padding: 4px;
  margin-left: 15%;
}

.language-done span i {
  color: #0ca23e;
}

.language-done:hover {
  background-color: #dffde9;
}

.language-pendant {
  padding: 5px 0 5px 5px;
}

.language-pendant span {
  color: #87bef5;
  font-weight: lighter;
  font-size: 12pt;
  cursor: pointer;
  padding: 4px;
  margin-left: 15%;
}

.language-pendant span i {
  color: #fe9124;
}

.language-pendant:hover {
  background-color: #ffe4caff;
}

.description p {
  margin: 0 0 0px;
}

.description {
  display: none;
  margin: 5px 20px 5px 0px;
  text-align: justify;
}

.right {
  float: left;
  margin-bottom: 15px;
}

.clear-both {
  clear: both;
}

.autor {
  color: #77b300;
}

.well-translation {
  text-shadow: 2px 2px #0ca23e;

}

.needed-translation {
  text-shadow: 2px 2px #fe9124;
}

.row section {
  padding-right: 0;
  padding-left: 0;
}

.description {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 5;
  -moz-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  /*
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    */
}

@media (min-width: 600px) {
  .right {
    float: right;
  }

  .post-image {
    display: initial;
    float: left;
    margin: 5px 20px 15px 0px;
  }
}

.dropdown-toggle::after {
  content: "";
}

.card>.card-header {
  line-height: unset;
  display: block;
}
