<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid ks-rows-section">
        <div class="row">
          <section class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <app-event-form 
            [inputOperation]="'create'"
            [inputLanguage]="localizeService.parser.currentLang"
            ></app-event-form>
          </section>
          <aside class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <!--<ba-right-sidebar></ba-right-sidebar>-->
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
