<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid ks-rows-section">
        <app-service-type-form [inputOperation]="'create'"></app-service-type-form>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Icon</th>
              <th>Edit/Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let serviceType of serviceTypes; let i=index">
              <!--Id-->
              <td>{{serviceType._id}}</td>
              <!--Title-->
              <td *ngIf="serviceType.language===localizeService.parser.currentLang">{{serviceType.title}}</td>
              <ng-container *ngFor="let translation of serviceType.translation">
                <td *ngIf="translation.language===localizeService.parser.currentLang">{{translation.title}}</td> 
              </ng-container> 
              <!--Icon-->
              <td [inlineSVG]="serviceType.icons[0].url" [onSVGLoaded]="handleSVG" >
              </td>
              <td class="ks-status">
                <a href="javascript:void(0)" (click)="serviceTypeEditClick(serviceType)"><span class="fa fa-edit ks-color-info" translate>{{'crud.edit'}}</span></a>
                <a href="javascript:void(0)" (click)="serviceTypeDeleteClick(i,serviceType)"><span class="fa fa-trash ks-color-danger" translate>{{'crud.delete'}}</span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

