<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid ks-rows-section">
        <div class="row">
          <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card panel ks-widget ks-widget-post">
              <h5 class="card-header">
              <span class="ks-text" translate>{{'menu.application'}}</span>
            </h5>
              <div class="card-block">
                <div class="ks-tabs-container ks-tabs-default ks-tabs-no-separator ks-widget-attachments">
                  <ul class="nav ks-nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#" data-toggle="tab" data-target="#tab1" translate>
                        <span class="ks-icon la la-user text-info"></span>
                        {{'navbar.events'}}
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="" data-toggle="tab" data-target="#tab2" translate>
                        <span class="ks-icon la la-calendar-o text-success"></span>
                        {{'navbar.services'}}
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" data-toggle="tab" data-target="#tab4" translate>
                        <span class="ks-icon la la-mobile-phone text-danger"></span>
                        {{'navbar.observations'}}
                      </a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab1" role="tabpanel">
                      <app-edit-events-application></app-edit-events-application>
                    </div>
                    <div class="tab-pane" id="tab2" role="tabpanel">
                      <app-edit-services-application></app-edit-services-application>
                    </div>
                     <div class="tab-pane" id="tab4" role="tabpanel">
                      <app-edit-observations-application></app-edit-observations-application>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>