<form [formGroup]="form" (ngSubmit)="onEventSubmit()" class="form-horizontal">
  <div class="row">
    <!-- Category -->
    <div formArrayName="categories" class="col-sm-12">
      <label for="selectCategory" translate>{{'event-form.category'}}</label>
      <div *ngFor="let category of form | formArrayPipe:'categories'; let i = index;">
        <div class="form-group required" [ngClass]="{'has-error': (!category.valid && category.dirty), 'has-success': (category.valid)}">
          <div [formGroupName]="i">
            <select formControlName="category" class="form-control" id="selectCategory" (change)="onSelectedCategory($event.target.value,i)">
              <option value="" translate>{{'event-form.select-category'}}</option>
              <ng-container *ngFor="let levelCategory of levelCategories | eventCategory:i">
                <option *ngIf="levelCategory.parentId===categoryId[i] && localizeService.parser.currentLang===levelCategory.language" [ngValue]="levelCategory.title">
                  {{levelCategory.title}}
                </option>
              </ng-container>
              <ng-container *ngFor="let levelCategory of levelCategories | eventCategory:i">
                <ng-container *ngFor="let translation of levelCategory.translation">
                  <option *ngIf="levelCategory.parentId===categoryId[i] && localizeService.parser.currentLang===translation.language" [ngValue]="translation.title">
                    {{translation.title}}
                  </option>
                </ng-container>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- Province -->
    <div class="col-sm-6">
      <div class="form-group required">
        <label for="selectProvinceEvent" translate>{{'event-form.province'}}</label>
        <select [formControl]="province" class="form-control" id="selectProvinceEvent" (change)="onSelectedProvince($event.target.selectedIndex-1)">
          <option value="" translate>{{'event-form.select-province'}}</option>
          <option *ngFor="let provinceEvent of provincesEvent " [ngValue]="provinceEvent.name">
            {{provinceEvent.name}}
          </option>
        </select>
      </div>
    </div>
    <!-- Municipality -->
    <div class="col-sm-6">
      <div class="form-group required">
        <label for="selectMunicipalityEvent" translate>{{'event-form.municipality'}}</label>
        <select [formControl]="municipality" class="form-control" id="selectMunicipalityEvent" (change)="onSelectedMunicipality($event.target.selectedIndex-1)">
          <option value="" translate>{{'event-form.select-municipality'}}</option>
          <option *ngFor="let municipalityEvent of municipalitiesEvent" [ngValue]="municipalityEvent.name">
            {{municipalityEvent.name}}
          </option>
        </select>
      </div>
    </div>
    <!-- Start date-->
    <div class="col-sm-6">
      <div class="form-group required" [ngClass]="{'has-error': (!start.valid && start.dirty), 'has-success': (start.valid)}">
        <label for="inputStart" translate>{{'event-form.start'}}</label>
        <div class="input-group icon">
          <input [formControl]="start" ngbDatepicker #calendarStart="ngbDatepicker" type="text" class="form-control ks-placeholder-mask-input" placeholder="yyyy-mm-dd" id="inputStart">
          <div class="input-group-append ">
            <button (click)="calendarStart.toggle()" type="button" class="btn btn-success ks-light ks-no-text">
              <span class="la la-calendar ks-icon"></span>
            </button>
          </div>
        </div>
        <!-- Validation -->
        <span *ngIf="start.errors?.required && start.dirty" class="help-block form-error" translate>{{'validation.required'}}</span>
        <!--<span *ngIf="start.errors?.validateDate && start.dirty" class="help-block form-error" translate>
                    {{'validation.start-validation'}}</span>-->
      </div>
    </div>
    <!-- End date -->
    <div class="col-sm-6">
      <div class="form-group required" [ngClass]="{'has-error': ((!end.valid && end.dirty) ||  end >= start), 'has-success': (end.valid &&  end < start)}">
        <label for="inputEnd" translate>{{'event-form.end'}}</label>
        <div class="input-group icon">
          <input [formControl]="end" ngbDatepicker #calendarEnd="ngbDatepicker" type="text" class="form-control ks-placeholder-mask-input" placeholder="yyyy-mm-dd" id="inputEnd">
          <div class="input-group-append ">
            <button (click)="calendarEnd.toggle()" type="button" class="btn btn-success ks-light ks-no-text">
              <span class="la la-calendar ks-icon"></span>
            </button>
          </div>
        </div>
        <!-- Validation -->
        <span *ngIf="end.errors?.required && end.dirty" class="help-block form-error" translate>{{'validation.required'}}</span>
        <span *ngIf="end.valid && end.value | compareDate:timeEnd :start.value:timeStart" class="help-block form-error" translate>
        {{'validation.compare-date-validation'}}</span>
      </div>
    </div>
    <!--
    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t">
    </ngb-datepicker>
    <ng-template #t let-date="date" let-focused="focused">
      <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
  </span>
    </ng-template>
  -->
    <!-- Price -->
    <div class="col-sm-12">
      <div class="form-group required">
        <label for="inputPrice" translate>{{'application-form.price'}}</label>
        <input [formControl]="price" type="number" class="form-control" id="inputPrice">
      </div>
    </div>
    <!-- Submit Button -->
    <div class="col-sm-12">
      <div class="form-group text-center">
        <button [disabled]="!form.valid || (end.value | compareDate:timeEnd :start.value:timeStart)" type="submit" class="btn btn-default btn-auth" translate>{{'event-form.send'}}</button>
      </div>
    </div>
  </div>
</form>
