<div *ngIf="browser" class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid ks-rows-section">
        <div class="row">
          <section class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <h1>{{ title }}</h1>
            <!-- this creates a google map on the page with the given lat/lng from -->
            <!-- the component as the initial center of the map: -->
            <agm-map [latitude]="lat" [longitude]="lng" [usePanning]='true' [zoom]="zoom" [fullscreenControl]="true" [mapTypeControl]="true" [keyboardShortcuts]="false">
              <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="m.labelOptions" [inlineSVG]="m.customInfo.icon" [onSVGLoaded]="handleSVG" (onSVGInserted)="onSvgInserted($event,m,i)" [iconUrl]="m.icon">
                <agm-snazzy-info-window [maxWidth]="500" [closeWhenOthersOpen]="true">
                  <ng-template>
                    <div id="iw-container">
                      <div class="iw-title"><a href="">{{m.customInfo.title}}</a></div>
                      <div class="iw-content">
                        <div class="iw-subTitle">{{m.customInfo.createdBy}}</div>
                        <span class="map-window"><a href=""><img class="info-img" [src]="m.customInfo.images"> </a></span>
                        <div [innerHTML]="m.customInfo.description"></div>
                      </div>
                      <div class="iw-bottom-gradient"></div>
                    </div>
                  </ng-template>
                </agm-snazzy-info-window>
              </agm-marker>
            </agm-map>
          </section>
          <aside class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <!-- Filter Form -->
          <app-filter-form [inputType]="'map'"></app-filter-form>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>



