<div class="ks-page">
    <div class="ks-page-content">
        <div class="card panel panel-default ks-light ks-panel ks-confirm ks-auth auth-card">
            <div class="card-block">
                <img class="img-logo" src="assets/img/logos/kulturekintzak.png" alt="kulturekintzak">
                <h1 class="ks-header" translate>{{'auth-form.activate-account-title'}}</h1>
                <div class="ks-description" [ngClass]="messageClass">
                    {{ message }}
                </div>
                    <div class="ks-text-center"><a class="auth-link" [routerLink]="['/sign-in-route'] | localize" translate>{{'auth-form.sign-up-sign-in-link'}}</a>
                    </div>
            </div>
        </div>
    </div>
</div>
