<div class="ks-page-content">
    <div class="ks-page-content-body">
        <div class="ks-nav-body-wrapper">
            <div class="container-fluid ks-rows-section">
                <div class="row">
                    <section class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <button [hidden]="showFilter" (click)="showFilter = !showFilter" type="submit" class="btn btn-default btn-block btn-filter" translate>{{'event.see-filter'}}</button>
                        <button [hidden]="!showFilter" (click)="showFilter = !showFilter" type="submit" class="btn btn-default btn-block btn-filter" translate>{{'event.hide-filter'}}</button>
                        <app-filter-form  [hidden]="!showFilter" [inputType]="'seeEvents'"></app-filter-form>
                        <ng-container *ngFor="let event of events let i=index;">
                            <article *ngIf="minSize<=i && maxSize>=i && event.visible" [hidden]="event.showAll" class="card panel ks-widget ks-widget-post">
                                <div *ngIf="event.price===0" class="ribbon-free ribbon-bottom-right">
                                    <span>{{'event.free'|translate}} </span>
                                </div>
                                <div *ngIf="event.price!=0" class="ribbon ribbon-bottom-right">
                                    <span>{{event.price}} €</span>
                                </div>
                                <div *ngIf="event.entries!=''" class="entries entries-bottom-right">
                                    <span>{{'event.entries'|translate}}</span>
                                </div>                                
                                <div *ngIf="!event.showCollapse" class="card-block">
                                    <!-- Date/Time -->
                                    <div class="event-datetime">
                                        <div class="event-datetime-day" [innerHTML]="(event.start | dateNamePipe:localizeService.parser.currentLang).day"></div>
                                        <div class="event-datetime-subcontainer">
                                            <div class="event-datetime-month">
                                                <span>{{(event.start | dateNamePipe:localizeService.parser.currentLang).month}}</span>
                                            </div>
                                            <div class="event-datetime-date">
                                                <div class="event-datetime-day-num" [innerHTML]="(event.start | dateNamePipe:localizeService.parser.currentLang).dayNumber"></div>
                                                <div class="event-datetime-hour"><span class="la la-clock-o ks-icon"></span>{{(event.start | dateNamePipe:localizeService.parser.currentLang).hour}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Title -->
                                    <div class="col-sm-11 col-xs-10" style="padding:0;">
                                        <span class="ks-text event-title col-xs-11" [routerLink]="['/event-route','see-route',event._id] | localize"> {{event | translateLanguage:'title':localizeService.parser.currentLang}} </span>
                                        <span class="ks-text view-event col-xs-1"><i [routerLink]="['/event-route','see-route',event._id] | localize" class="la la-chevron-circle-right ks-icon"></i></span>
                                    </div>
                                    <!--Translate -->
                                    <div class="dropdown col-sm-1 col-xs-2">
                                        <a class="translate-event dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="la la-language" [ngClass]="event | translateCount"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right ks-scrollable" aria-labelledby="Preview">
                                            <div class="ks-wrapper">
                                                <div *ngIf="event | hasBeenTranslatedPipe:'eu'" class="language-done"><span><i class="la la-language"></i>Euskara</span></div>
                                                <div *ngIf="event | hasBeenTranslatedPipe:'es'" class="language-done"><span><i class="la la-language"></i>Español</span></div>
                                                <div *ngIf="event | hasBeenTranslatedPipe:'en'" class="language-done"><span><i class="la la-language"></i>English</span></div>
                                                <div *ngIf="!(event | hasBeenTranslatedPipe:'eu')" [routerLink]="['/event-route','manage-route','edit-route',event._id] | localize" class="language-pendant"><span><i class="la la-language"></i>Euskara</span></div>
                                                <div *ngIf="!(event | hasBeenTranslatedPipe:'es')" [routerLink]="['/event-route','manage-route','edit-route',event._id] | localize" class="language-pendant"><span><i class="la la-language"></i>Español</span></div>
                                                <div *ngIf="!(event | hasBeenTranslatedPipe:'en')" [routerLink]="['/event-route','manage-route','edit-route',event._id] | localize" class="language-pendant"><span><i class="la la-language"></i>English</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div [routerLink]="['/event-route','see-route',event._id] | localize" class="col-sm-4 col-xs-4 post-image" style="padding:0;">
                                        <img *ngIf="event.images.poster.length==0" src="assets/img/defaults/event/default-{{localizeService.parser.currentLang}}.png" alt="kulturekintzak-event-default" class="ks-thumbnail img-responsive">
                                        <img *ngIf="event.images.poster.length>0" src="{{event | translateLanguage:'images.poster[0].url':localizeService.parser.currentLang }}" alt="{{event | translateLanguage:'title':localizeService.parser.currentLang}}" class="ks-thumbnail img-responsive">
                                    </div>
                                    <!--Description-->
                                    <div class="col-sm-8 col-xs-8">
                                        <div [routerLink]="['/event-route','see-route',event._id] | localize" class="ks-text description" [innerHTML]="(event | translateLanguage:'description':localizeService.parser.currentLang) | htmlText"></div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 ks-actions">
                                        <span [routerLink]="['/event-route','see-route',event._id] | localize" class="ks-control" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share">
                                          <span class="la la-comment-o ks-icon"></span>
                                        <span class="ks-amount">{{event.comments.length}}</span>
                                        </span>
                                        <span [routerLink]="['/event-route','see-route',event._id] | localize" class="ks-control reaction-box" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like">
                                          <span *ngIf="event.reactions.likeBy.length>0" class="reaction reaction-like" ></span>
                                        <span *ngIf="event.reactions.loveBy.length>0" class="reaction reaction-love"></span>
                                        <span *ngIf="event.reactions.hahaBy.length>0" class="reaction reaction-haha"></span>
                                        <span *ngIf="event.reactions.wowBy.length>0" class="reaction reaction-wow"></span>
                                        <span *ngIf="event.reactions.sadBy.length>0" class="reaction reaction-sad"></span>
                                        <span *ngIf="event.reactions.angryBy.length>0" class="reaction reaction-angry"></span>
                                        <span *ngIf="(event.reactions.angryBy.length+event.reactions.hahaBy.length+event.reactions.likeBy.length+event.reactions.loveBy.length+event.reactions.sadBy.length+event.reactions.wowBy.length==0)" class="reaction reaction-like"></span>
                                        <span class="ks-amount ks-amount-reactions">{{event.reactions.angryBy.length +event.reactions.hahaBy.length+event.reactions.likeBy.length+event.reactions.loveBy.length+event.reactions.sadBy.length+event.reactions.wowBy.length}}</span>
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </ng-container>
                        <ngb-pagination *ngIf="collectionSize" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="1" [maxSize]="5" [boundaryLinks]="true" size="lg" (pageChange)="onPageChange($event)"></ngb-pagination>
                    </section>
                    <aside class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <!-- Filter Form -->
                        <app-filter-form class="right-filter" [inputType]="'seeEvents'"></app-filter-form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
