<div class="ks-page">
    <div class="ks-page-content">
        <div class="card panel panel-default ks-light ks-panel ks-login ks-auth">
            <div class="card-block">
                <!-- New password Form -->
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
                    <!-- Custom Success/Error Message -->
                    <div [ngClass]="messageClass">
                        {{ message }}
                    </div>
                    <h4 *ngIf="showForm" class="ks-header" translate>{{'auth-form.new-password'}}</h4>
                    <!-- Password Input -->
                    <div *ngIf="showForm" class="form-group" [ngClass]="{'has-error': (!password.valid && password.dirty), 'has-success': (password.valid)}">
                        <div class="input-icon icon-left icon-lg icon-color-primary">
                            <input [formControl]="password" type="password" class="form-control" [placeholder]="'auth-form.password'| translate">
                            <span class="icon-addon">
                                <span class="la la-key"></span>
                            </span>
                        </div>
                        <!-- Validation -->
                        <span *ngIf="password.errors?.required && password.dirty" class="help-block form-error" translate>{{'validation.required'}}</span>
                        <span *ngIf="password.errors?.minlength && password.dirty || password.errors?.maxlength && password.dirty " class="help-block form-error" translate>{{'validation.password-length'}}</span>
                        <span *ngIf="password.errors?.validatePassword && password.dirty" class="help-block form-error" translate>{{'validation.password-valid'}}</span>
                    </div>
                    <!-- Confirm Password Input -->
                    <div *ngIf="showForm" class="form-group" [ngClass]="{'has-error': (!passwords.valid && (password.dirty || repeatPassword.dirty)), 'has-success': (passwords.valid && (password.dirty || repeatPassword.dirty))}">
                        <div class="input-icon icon-left icon-lg icon-color-primary">
                            <input [formControl]="repeatPassword" type="password" class="form-control" [placeholder]="'auth-form.repeat-password'| translate">
                            <span class="icon-addon">
                                <span class="la la-key"></span>
                            </span>
                        </div>
                        <!-- Validation -->
                        <span *ngIf="repeatPassword.errors?.required && repeatPassword.dirty" class="help-block form-error" translate>{{'validation.required'}}</span>
                        <span *ngIf="!passwords.valid && (password.dirty || repeatPassword.dirty)" class="help-block form-error" translate>{{'validation.password-match'}}</span>
                    </div>
                    <div *ngIf="showForm" class="form-group">
                        <button [disabled]="!form.valid || submitted " type="submit" class="btn btn-primary btn-block" translate>{{'auth-form.send'}}</button>
                    </div>
                    <div class="ks-text-center">
                    	<a [routerLink]="['/sign-in-route'] | localize" translate>{{'auth-form.sign-up-sign-in-link'}}</a>
                    </div>
                    <div class="ks-text-center">
                        <a [routerLink]="['/reset-username-route'] | localize" translate>{{'auth-form.forgot-username'}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
