<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid ks-rows-section">
        <!-- Custom Success/Error Message -->
        <div *ngIf="message" class="row show-hide-message">
          <div [ngClass]="messageClass">
            {{ message }}
          </div>
        </div>
       <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th translate>{{'service-form.title'}}</th>
              <th translate>{{'service-form.description'}}</th>
              <th translate>{{'service-form.service-type'}}</th>
              <th translate>{{'service-type-form.icon'}}</th>
              <th translate>{{'application-form.expired-at'}}</th>
              <th translate>{{'event-form.province'}}</th>
              <th translate>{{'event-form.municipality'}}</th>
              <th translate>{{'event-form.location'}}</th>
              <th translate>{{'event-form.created-by'}}</th>
              <th translate>{{'crud.edit-delete'}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of services">
              <!--Title-->
              <td>{{service | translateLanguage:'title':localizeService.parser.currentLang}}</td>    
              <!--Description-->
              <td [innerHTML]="service | translateLanguage:'description':localizeService.parser.currentLang"></td>
              <!--Service type-->
              <td>{{service.serviceType | translateLanguage:'title':localizeService.parser.currentLang}}</td> 
              <!--Service type icon-->
              <td [inlineSVG]="service.serviceType.icons[0].url" [onSVGLoaded]="handleSVG"></td>
              <!--Expired at-->
              <td>{{service.expiredAt | timezone}}</td>
              <!--Province-->
              <td>{{service.place | translateLanguage:'province.name':localizeService.parser.currentLang}}</td>    
              <!--Municipality-->
              <td>{{service.place | translateLanguage:'municipality.name':localizeService.parser.currentLang}}</td>    
              <!--Location-->
              <td>{{service.place | translateLanguage:'location':localizeService.parser.currentLang}}</td>    
              <!--CreatedBy-->
              <td>{{service | translateLanguage:'createdBy':localizeService.parser.currentLang}}</td>
              <!--Edit/Delete-->
              <td class="ks-status">
                <a href="javascript:void(0)" 
                [routerLink]="['/service-route','manage-route','edit-route',service._id] | localize"><span class="fa fa-edit ks-color-info" translate>{{'crud.edit'}}</span></a>
                <a href="javascript:void(0)" (click)="serviceDeleteClick(i,service)"><span class="fa fa-trash ks-color-danger" translate>{{'crud.delete'}}</span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>