<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid ks-rows-section">
        <div class="row">
          <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <article *ngIf="event" class="card panel ks-widget ks-widget-post">
              <h5 class="card-header">
                <!--Title--> 
                <span class="ks-text">{{event | translateLanguage:'title':localizeService.parser.currentLang}}</span>
              </h5>
              <div class="card-block">
                <div class="ngx-gallery">
                  <ngx-gallery *ngIf="galleryImages" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
                <div class="ks-actions">
                  <span class="ks-control" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like">
                    <!--<span class="ks-amount">3Like</span>-->
                  <!-- Reaction system start -->
                  <div class="facebook-reaction">
                    <!-- container div for reaction system -->
                    <span class="like-btn"> <!-- Default like button -->
                        <span class="like-btn-emo like-btn-default"></span>
                    <!-- Default like button emotion-->
                    <span (click)="deleteReaction()" class="ks-icon" translate>{{'event.like'}}</span>
                    <!-- Default like button text,(Like, wow, sad..) default:Like  -->
                    <ul class="reactions-box">
                      <!-- Reaction buttons container-->
                      <li (click)="addReaction('like')" class="reaction reaction-like" [attr.data-reaction]="'reaction.like' | translate"></li>
                      <li (click)="addReaction('love')" class="reaction reaction-love" [attr.data-reaction]="'reaction.love' | translate"></li>
                      <li (click)="addReaction('haha')" class="reaction reaction-haha" [attr.data-reaction]="'reaction.haha' | translate"></li>
                      <li (click)="addReaction('wow')" class="reaction reaction-wow" [attr.data-reaction]="'reaction.wow' | translate"></li>
                      <li (click)="addReaction('sad')" class="reaction reaction-sad" [attr.data-reaction]="'reaction.sad' | translate"></li>
                      <li (click)="addReaction('angry')" class="reaction reaction-angry" [attr.data-reaction]="'reaction.angry' | translate"></li>
                    </ul>
                    </span>
                  </div>
                  <!-- Reaction system end -->
                  </span>
                  <span (click)="scrollComment()" class="ks-control">
                    <span class="comment-btn"> <!-- Default like button -->
                        <span class="comment-btn-emo comment-btn-default"></span>
                  <!-- Default like button emotion-->
                  <span class="ks-icon" translate>{{'event.comment'}}</span>
                  <!-- Default like button text,(Like, wow, sad..) default:Like  -->
                  </span>
                  </span>
                  <span class="ks-control" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share">
                    <!--<span class="ks-amount">3Like</span>-->
                  <!-- Reaction system start -->
                  <div class="facebook-reaction">
                    <!-- container div for reaction system -->
                    <span class="like-btn"> <!-- Default like button -->
                        <span class="comment-btn-emo share-btn-default"></span>
                    <!-- Default like button emotion-->
                    <span class="ks-icon" translate>{{'event.share'}}</span>
                    <!-- Default like button text,(Like, wow, sad..) default:Like  -->
                    <ul class="reactions-box">
                      <!-- Reaction buttons container-->
                      <li class="reaction reaction-facebook" data-reaction="Facebook">
                        <share-button [url]="currentUrl" theme="circles-dark" button="facebook" [size]="1"></share-button>
                      </li>
                      <li class="reaction reaction-twitter" data-reaction="Twitter">
                        <share-button [url]="currentUrl" theme="circles-dark" button="twitter" [size]="1"></share-button>
                      </li>
                      <li class="reaction reaction-google" data-reaction="Google">
                        <share-button [url]="currentUrl" theme="circles-dark" button="google" [size]="1"></share-button>
                      </li>
                      <li class="reaction reaction-whats-up" data-reaction="WhatsApp">
                        <share-button [url]="currentUrl" theme="circles-dark" button="whatsapp" [size]="1"></share-button>
                      </li>
                      <li class="reaction reaction-telegram" data-reaction="Telegram">
                        <share-button [url]="currentUrl" theme="circles-dark" button="telegram" [size]="1"></share-button>
                      </li>
                      <li class="reaction reaction-pinterest" data-reaction="Pinterest">
                        <share-button [url]="currentUrl" theme="circles-dark" button="pinterest" [size]="1"></share-button>
                      </li>
                    </ul>
                    </span>
                  </div>
                  <!-- Reaction system end -->
                  </span>
                  <div *ngIf="event" class="like-stat">
                    <!-- Like statistic container-->
                    <!--like reaction-->
                    <ng-template #likeReaction>
                      <ul class="reaction-names">
                        <li *ngFor="let reactionUsername of event | safeHtml : 'reactionsUsernames' : 'likeBy'">{{reactionUsername}}</li>
                      </ul>
                    </ng-template>
                    <!--love reaction-->
                    <ng-template #loveReaction>
                      <ul class="reaction-names">
                        <li *ngFor="let reactionUsername of event | safeHtml : 'reactionsUsernames' : 'loveBy'">{{reactionUsername}}</li>
                      </ul>
                    </ng-template>
                    <!--haha reaction-->
                    <ng-template #hahaReaction>
                      <ul class="reaction-names">
                        <li *ngFor="let reactionUsername of event | safeHtml : 'reactionsUsernames' : 'hahaBy'">{{reactionUsername}}</li>
                      </ul>
                    </ng-template>
                    <!--wow reaction-->
                    <ng-template #wowReaction>
                      <ul class="reaction-names">
                        <li *ngFor="let reactionUsername of event | safeHtml : 'reactionsUsernames' : 'wowBy'">{{reactionUsername}}</li>
                      </ul>
                    </ng-template>
                    <!--sad reaction-->
                    <ng-template #sadReaction>
                      <ul class="reaction-names">
                        <li *ngFor="let reactionUsername of event | safeHtml : 'reactionsUsernames' : 'sadBy'">{{reactionUsername}}</li>
                      </ul>
                    </ng-template>
                    <!--angry reaction-->
                    <ng-template #angryReaction>
                      <ul class="reaction-names">
                        <li *ngFor="let reactionUsername of event | safeHtml : 'reactionsUsernames' : 'angryBy'">{{reactionUsername}}</li>
                      </ul>
                    </ng-template>
                    <ng-template #allReaction>
                      <ul class="reaction-names">
                        <li *ngFor="let reaction of allReactions">{{reaction}}</li>
                      </ul>
                    </ng-template>
                    <!--like reaction-->
                    <a (click)="reactionClick('like')" href="javascript:void(0);" placement="top" [ngbTooltip]="likeReaction" class="like-emo">
                      <!-- like emotions container -->
                      <span *ngIf="(event | safeHtml : 'reactionsUsernames' : 'likeBy').length" [ngClass]="'like-btn-like'"></span>
                    </a>
                    <!--love reaction-->
                    <a (click)="reactionClick('love')" href="javascript:void(0);" placement="top" [ngbTooltip]="loveReaction" class="like-emo">
                      <!-- like emotions container -->
                      <span *ngIf="(event | safeHtml : 'reactionsUsernames' : 'loveBy').length" [ngClass]="'like-btn-love'"></span>
                    </a>
                    <!--haha reaction-->
                    <a (click)="reactionClick('haha')" href="javascript:void(0);" placement="top" [ngbTooltip]="hahaReaction" class="like-emo">
                      <!-- like emotions container -->
                      <span *ngIf="(event | safeHtml : 'reactionsUsernames' : 'hahaBy').length" [ngClass]="'like-btn-haha'"></span>
                    </a>
                    <!--wow reaction-->
                    <a (click)="reactionClick('wow')" href="javascript:void(0);" placement="top" [ngbTooltip]="wowReaction" class="like-emo">
                      <!-- like emotions container -->
                      <span *ngIf="(event | safeHtml : 'reactionsUsernames' : 'wowBy').length" [ngClass]="'like-btn-wow'"></span>
                    </a>
                    <!--sad reaction-->
                    <a (click)="reactionClick('sad')" href="javascript:void(0);" placement="top" [ngbTooltip]="sadReaction" class="like-emo">
                      <!-- like emotions container -->
                      <span *ngIf="(event | safeHtml : 'reactionsUsernames' : 'sadBy').length" [ngClass]="'like-btn-sad'"></span>
                    </a>
                    <!--angry reaction-->
                    <a (click)="reactionClick('angry')" href="javascript:void(0);" placement="top" [ngbTooltip]="angryReaction" class="like-emo">
                      <!-- like emotions container -->
                      <span *ngIf="(event | safeHtml : 'reactionsUsernames' : 'angryBy').length" [ngClass]="'like-btn-angry'"></span>
                    </a>
                    <a (click)="reactionClick('all')" href="javascript:void(0);" placement="top" [ngbTooltip]="allReaction" class="like-details">
                    </a>
                    <!-- HTML to write -->
                  </div>
                </div>
                <br>
                <h2 translate>{{'event.general-info'}}</h2>
                <div *ngIf="event" class="row">
                  <!--Dates-->
                  <p *ngIf="event.start" class="col-sm-8">
                    <span>
                        <strong translate>{{'event-form.start'}}</strong>
                        - 
                        <strong translate>{{'event-form.end'}}</strong>: 
                      </span>
                    <span class="information">
                      {{event.start | timezone}}
                      |
                  </span>
                    <span class="information">
                      {{event.end | timezone}}
                  </span>
                  </p>
                  <!--Price info-->
                  <p *ngIf="event.price" class="col-sm-4">
                    <span>
                        <strong translate>{{'application-form.price'}}</strong>: 
                      </span>{{event.price}}€
                  </p>
                  <!--Location info-->
                  <p class="col-sm-8">
                    <span>
                        <strong translate>{{'event-form.location'}}</strong>: 
                      </span>
                    <span class="information">
                      {{event.place | translateLanguage:'province.name':localizeService.parser.currentLang}} 
                      </span>
                    <span class="information">
                      - 
                      {{event.place | translateLanguage:'municipality.name':localizeService.parser.currentLang}}
                      </span>
                    <span class="information">
                      -
                      {{event.place | translateLanguage:'location':localizeService.parser.currentLang}}
                      </span>
                  </p>
                  <!--Coordinates info-->
                    <p *ngIf="event.place.coordinates.lat" class="col-sm-4">
                      <span>
                        <strong translate>{{'event-form.coordinates'}}</strong>: 
                      </span>
                      <span class="information">
                      {{event.place.coordinates.lat}}
                      |
                      </span>
                      <span class="information">
                      {{event.place.coordinates.lng}}
                      </span>
                    </p>
                  <!-- Category info-->
                    <p class="col-sm-12">
                      <span>
                        <strong translate>{{'event-form.category'}}</strong>: 
                      </span>
                      <ng-container *ngFor="let category of categories">
                        <span class="information" *ngIf="!category.firstParentId">- {{category | translateLanguage:'title':localizeService.parser.currentLang}}</span>
                        <span class="information" *ngIf="category.firstParentId">{{category | translateLanguage:'title':localizeService.parser.currentLang}} </span>
                      </ng-container>
                    </p>
                  <!--Participants info-->
                    <p *ngFor="let participant of event.participants" class="col-sm-12">
                      <span>
                        <strong translate>{{'event-form.participants'}}</strong>: 
                      </span>{{ participant }}
                    </p>
                  <!--Description info-->
                  <div class="col-sm-12">
                    <!--Description-->
                    <p>
                      <span>
                        <strong translate>{{'event-form.description'}}</strong>: 
                      </span>
                      <span [innerHTML]="event | translateLanguage:'description':localizeService.parser.currentLang" style="text-align: justify;"></span>
                    </p>
                  </div>
                  <!--Observations info-->
                  <div class="col-sm-12">
                    <p *ngIf="event.observations">
                      <span>
                        <strong translate>{{'event-form.observations'}}</strong>: 
                      </span>{{event | translateLanguage:'observations':localizeService.parser.currentLang}}
                    </p>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group text-center">
                    <button (click)="showMap = !showMap" type="submit" class="btn btn-default btn-block" translate>{{'event.see-map'}}</button>
                    <single-event-map [hidden]="!showMap"></single-event-map>
                  </div>
                </div>
                <app-comment [inputEventId]="event._id"></app-comment>
              </div>
            </article>
          </section>
          <aside class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <right-sidebar></right-sidebar>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
